.active {
    display: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{
    height: 100vh;
    width: 100vw;
    background-color: rgb(23, 23, 23);
    overflow: hidden;
}

.navBar {
    display: flex;
    justify-content: space-between;

}

.textDiv {
    color: white;
    opacity: 0.6;
    margin-top: 2rem;
    margin-left: 2rem;
    font-family: 'Oswald', sans-serif;
    font-size: smaller;

}

#textSection1{
    font-size: x-large;
    color: white;
    margin-left: 2rem;
    font-family: 'Oswald', sans-serif;
}

.icons-div {
    margin-top: 2rem;
    margin-right: 2rem;
}

.cardsSection1{
    display: flex;
    justify-content: space-between;
    font-size: xx-large;
    color: white;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    font-family: 'Oswald', sans-serif;
    
}

.hoverEffect { transition: all .2s ease-in-out; }
.hoverEffect:hover { transform: scale(1.1); }
  


.cards1 {
    display: flex;
    align-items: center;
    height: 150px;
    width: 300px;
    border-radius: 0.5rem;
    padding-left: 2rem;
    background-color: rgb(107, 105, 255);

}

#media-player{
    padding-left: 1.5rem;
}

#tv {
    padding-left: 2rem;
    font-size: 3.5rem;
}

.cards2 {
    display: flex;
    align-items: center;
    height: 150px;
    width: 300px;
    border-radius: 0.5rem;
    padding-left: 2rem;
    background-color: rgb(0, 172, 103);

}

.cards3 {
    display: flex;
    align-items: center;
    height: 150px;
    width: 300px;
    border-radius: 0.5rem;
    padding-left: 2rem;
    background-color: rgb(2, 133, 210);

}

.cards4 {
    display: flex;
    align-items: center;
    height: 150px;
    width: 300px;
    border-radius: 0.5rem;
    padding-left: 2rem;
    background-color: rgb(244, 169, 0);

}

.cards5 {
    display: flex;
    align-items: center;
    height: 150px;
    width: 300px;
    border-radius: 0.5rem;
    padding-left: 2rem;
    background-color: rgb(245, 245, 245);

}

#textSection2{
    font-size: x-large;
    color: white;
    margin-left: 2rem;
    margin-top: 2rem;
    font-family: 'Oswald', sans-serif;
}

.cardsSection2{

    display: flex;
    justify-content: space-between;
    font-size: xx-large;
    color: white;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    font-family: 'Oswald', sans-serif;

}


.cards6 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 150px;
    width: 300px;
    border-radius: 0.5rem;
    background-color: rgb(45, 45, 45);

}

.cards7 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 150px;
    width: 300px;
    border-radius: 0.5rem;
    background-color: rgb(45, 45, 45);

}

.cards8 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 150px;
    width: 300px;
    border-radius: 0.5rem;
    background-color: rgb(45, 45, 45);

}

.cards9 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 150px;
    width: 300px;
    border-radius: 0.5rem;
    background-color: rgb(45, 45, 45);

}


.cards10 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 150px;
    width: 300px;
    border-radius: 0.5rem;
    background-color: rgb(45, 45, 45);

}

.footer{

    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: flex-start;
    background-color: rgb(69, 69, 69);
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 3rem;
    height: 170px;
}

.logoDiv {

    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.textDiv2{
    font-size: xx-large;
    color: white;
    margin-left: 2rem;
    max-width: 40%;
    font-family: 'Oswald', sans-serif;
}

.btn-div{

    margin-left: 4rem;

}

#ok-btn{
    height: 55px;
    width: 200px;
    border-radius: 0.5rem;
    background-color: rgb(88, 88, 88);
    color: white;
    font-size: xx-large;
    box-shadow:inset 0px 1px 0px 0px #7a8eb9;
    border: 0.5px solid #808080;
    font-family: 'Oswald', sans-serif;
}

#dismiss-btn{
    height: 55px;
    width: 200px;
    border-radius: 0.5rem;
    background-color: rgb(88, 88, 88);
    margin-left: 0.5rem;
    color: white;
    font-size: xx-large;
    box-shadow:inset 0px 1px 0px 0px #7a8eb9;
    border: 0.5px solid #808080;
    font-family: 'Oswald', sans-serif;
}

#patchText {
    font-size: 4rem;
}
  

.centerIcon{
    display: flex;
    justify-content: center;
    align-items: center;
}